@charset "UTF-8";
/* Noto-sans 글꼴  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; 로 적용 font-weight 100, 300, 400, 500 ,700, 900 사용 가능*/
/* 나눔 스퀘어 글꼴 */
@font-face {
  font-family: 'NanumSquare';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareLight';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareExtraBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.ttf) format("truetype");
}

/* 여기어때 잘난체 */
@font-face {
  font-family: 'yg-jalnan';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.white {
  color: white;
}

.primary {
  color: #0D6EFD;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none !important;
}

.navLogo {
  font-size: 2.5rem !important;
  font-weight: 900;
}

#NaviNavbar {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.NaviNavUp {
  top: -70px !important;
}

#NaviCollapse {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

#NaviNav li {
  font-size: 1.25rem;
}

.NaviNavLink {
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

.NaviNavLink:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  color: black;
  font-weight: 500;
}

.MainPageMainImgWrap {
  margin-top: 75px;
  width: auto;
  height: 912px;
  background-image: url("/img/mainimg1920x912.jpg");
  background-position: center;
  background-size: auto;
}

.MainPageMainImgWrap > .MainPageTxtWrap {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-80%, -80%);
          transform: translate(-80%, -80%);
  text-align: end;
}

.MainPageMainImgWrap > .MainPageTxtWrap h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.MainPageMainImgWrap > .MainPageTxtWrap p {
  font-size: 1.5rem;
  margin-right: 30px;
  margin-bottom: 5px;
}

.MainPageMainImgWrap > .MainPageTxtWrap p:last-child {
  margin-bottom: 0;
  margin-top: 25px;
  margin-right: 40px;
}

.MainPageMainImgWrap > .MainPageTxtWrap p:last-child a {
  color: black;
  font-weight: 900;
  border-bottom: 2px solid black;
}

#AboutMeWrap {
  height: 1060px;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

#AboutMeWrap #AboutMeTitleBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#AboutMeWrap #AboutMeTitleBox div {
  width: 20px;
  height: 40px;
  background-color: #0D6EFD;
}

#AboutMeWrap #AboutMeTitleBox h3 {
  font-size: 2.5rem;
  margin-left: 10px;
  margin-right: 20px;
}

#AboutMeWrap #AboutMeTitleBox img {
  height: 70px;
}

.FooterWrap {
  height: 50px;
  background-color: transparent;
}
