@charset "UTF-8";
/* Noto-sans 글꼴  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; 로 적용 font-weight 100, 300, 400, 500 ,700, 900 사용 가능*/
/* 나눔 스퀘어 글꼴 */
@font-face {
  font-family: 'NanumSquare';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareLight';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareExtraBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.ttf) format("truetype");
}

/* 여기어때 잘난체 */
@font-face {
  font-family: 'yg-jalnan';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// common class 
.white{color: white;}
.primary{color: #0D6EFD;}


html{
  font-size: 16px;
}

*{
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none !important;
}

// Navi Component
#NaviNavbarToggler{
  color: rgba(255,255,255,0) !important;
}
#NaviNavbarToggler:focus{
  box-shadow: none !important;
}
.navbar-toggler{ border: none !important;
  .navbar-toggler-icon{
    background-image: 
    url("/img/icon/m_menu.png") !important;}
}
.navbar-toggler:hover {
  border: none, !important;;
}

.navLogo{ font-size: 2.5rem !important;
          font-weight: 900;}
#NaviNavbar{ padding-top: 0; padding-bottom: 0; transition: 1s;}
.NaviNavUp{top:-70px !important;} // Scrooll down 시 Navi 사라지게 함
#NaviCollapse{ 
  flex: unset;
}

#NaviNav{
  li{
    font-size: 1.25rem;
  }
}
.NaviNavLink{ color: white !important}
.NaviNavLink:hover {
  color: #0D6EFD !important;
}

/* 테블릿 */
@media (max-width:991.98px){

}

/* 스마트폰 */
@media (max-width:767.78px){
  #NaviCollapse{
    flex-basis: 100% !important;
    flex-grow: 1 !important;
    .NaviNavLink{
      font-size: 0.9rem;
    }
  }
}


// MainPage Component
.MainPageMainImgWrap{
  margin-top: 70px;
  width: auto;
  height: 912px;
  background-image: url('/img/mainimg1920x912.jpg');
  background-position: center;
  background-size: auto;

}
.MainPageMainImgWrap>.MainPageTxtWrap{
  top: 50%;
  left: 50%;
  transform: translate(-80%,-80%);
  text-align: end;
  h3{font-size: 3rem; font-weight: 300; margin-bottom: 30px;}
  p{font-size: 1.5rem; margin-right: 30px; margin-bottom: 5px; font-weight: 300;}
  p:last-child{margin-bottom: 0; margin-top: 25px; margin-right: 40px;
    a{color: black; font-weight: 300; border-bottom: 2px solid black;}
  }
}

/* 테블릿 */
@media (max-width:991.98px) {
  .MainPageMainImgWrap{
    width: auto;
    height: 724px;
    background-image: url('/img/mainImg_tablet.jpg');
    background-position: center;
    background-size: auto;
  }

  .MainPageMainImgWrap>.MainPageTxtWrap{
    h3{margin-top :50px;
      font-size:1.8rem;
      width:480px;
      font-weight: 400;
      margin-right: 28px;
      span{font-size: 2rem;}}
    p{font-size: 1.25rem;
      margin-right:60px;}
    p:last-child{
      a{margin-right: 45px;}
    }
  }
}

// Mobile 가로
@media (max-width:767.78px) {
.MainPageMainImgWrap{
  background-color: #C2C2C2;
  background-repeat: no-repeat;
  height: 500px;
  width: auto;
  background-image: url('/img/mainImg_mobile.jpg');
  background-position: bottom;
  background-size: auto
  }
.MainPageMainImgWrap>.MainPageTxtWrap{
  transform:translate( -50%, -95% ); 
  h3{
    span{
      font-size: 2.25rem;
    }
  }
}

}

// Mobile 세로 
@media (max-width:575.8px) {
  .MainPageMainImgWrap>.MainPageTxtWrap{
    transform:translate( -50%, -105% ); 
    text-align: center ;
    h3{
      width: 310px;
      font-size:1rem;
      margin-bottom: 10px;
      margin-right: 0;
      span{
        font-size: 1.25rem;
      }
    }
    p{font-size: 0.9rem;
      margin-right:0px;

    }
    p:last-child{
      a{margin-right: -200px;
      }
    }
  }
  }



///////////////// AboutMe Component
#AboutMeWrap{background-color: white; padding-top: 100px; padding-bottom: 100px;
  #AboutMeTitleBox{
    align-items: center;
    justify-content: center;
    div{width:20px; height: 40px; background-color:#0D6EFD;}
    h3{font-size: 2.5rem; margin-left: 10px; margin-right: 20px;}
    img{height: 70px;}
    margin-bottom:3.5rem ;
  }
  
  #AboutMeLeftDiv{

    div:first-child{
      p{font-size: 1.5rem;}
      ul{padding-left: 15px;}
    }
    div:last-child{
      margin-top: 80px;
      p{font-size: 1.5rem;}
      ul{padding-left: 15px;}
    }
  }
  #AboutMeRightDiv{
    >p{font-size: 1.5rem; text-align: center;}
    #AboutMeSkillUl{
      li{
        height: 40px;
        margin-bottom: 30px;
        .AboutMeIconBox{
          width: 100px;
          display: flex;
          justify-content: end;
          .AboutMeIcon{height: 40px; margin-bottom: 20px; margin-right: 0; display: block;}
        }
      
        .AboutMeSkillgraphBox{height: 40px; width: auto; padding-left: 10px;
          p{height: 30px; margin-bottom: 0;}
          .graph{width: 100%;  margin-bottom:5px; height:5px; background-color: #ccc;
            span{width: 90%; height: 100%; background-color: black; display: block;
                 animation: stack90 2s 1;    
            }
          }
        }
        .graphTxtDiv{
          font-size: 1.25rem;
          padding-left: 10px;
          padding-top: 10px;
          animation: show 2s 1;
        }
      }
    }
  }
  
}
// graphTxt show 
@keyframes show {
  0%{color: rgba(0,0,0,0);}
  80%{color: rgba(0,0,0,0);}
  100%{color: rgba(0,0,0,1);}
}
// skillgraph stack
@keyframes stack90 {
  0% {width: 0; color: rgba(0,0,0,0);}
  100% {width: 90%; color: rgba(0,0,0,1);}
}



// Footer Component 
.FooterWrap{height: 50px; background-color: transparent;}