@charset "UTF-8";
/* Noto-sans 글꼴  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; 로 적용 font-weight 100, 300, 400, 500 ,700, 900 사용 가능*/
/* 나눔 스퀘어 글꼴 */
@font-face {
  font-family: 'NanumSquare';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareLight';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareExtraBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.ttf) format("truetype");
}

/* 여기어때 잘난체 */
@font-face {
  font-family: 'yg-jalnan';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --var-color1:#0D6EFD;
  --var-color2:#E5E5E5;
  --var-color3:#C4C4C4;
  --var-color4:#6C757D;
  --var-color5:#000000;
  --var-white:#FFFFFF;
  --var-black:#000000;
  --var-gmarket:'GmarketSansMedium';
}

html {
  font-size: 16px;
}

.bg-black {
  background-color: black;
}

.bg-color2 {
  background-color: var(--var-color2);
}

.khysection1 {
  width: auto;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.gmarket {
  font-family: 'GmarketSansMedium';
}

.white {
  color: white;
}

.primary {
  color: #0D6EFD;
}

.m-auto {
  margin: 0 auto;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.w-85 {
  width: 85%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}

.w-65 {
  width: 65%;
}

.w-60 {
  width: 60%;
}

.w-55 {
  width: 55%;
}

* {
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none !important;
}

#NaviNavbarToggler {
  color: rgba(255, 255, 255, 0) !important;
}

#NaviNavbarToggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("/img/icon/m_menu.png") !important;
}

.navbar-toggler:hover {
  border: none, !important;
}

.navLogo {
  font-size: 2.5rem !important;
  font-weight: 900;
}

#NaviNavbar {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.NaviNavUp {
  top: -70px !important;
}

#NaviCollapse {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

#NaviNav li {
  font-size: 1.25rem;
}

.NaviNavLink {
  color: white !important;
}

.NaviNavLink:hover {
  color: #0D6EFD !important;
}

/* 테블릿 */
/* 스마트폰 */
@media (max-width: 767.78px) {
  #NaviCollapse {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
  }
  #NaviCollapse .NaviNavLink {
    font-size: 0.9rem;
  }
}

.MainPageMainImgWrap {
  margin-top: 70px;
  width: auto;
  height: 912px;
  background-image: url("/img/mainimg1920x912.jpg");
  background-position: center;
  background-size: auto;
}

.MainPageMainImgWrap > .MainPageTxtWrap {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-80%, -80%);
          transform: translate(-80%, -80%);
  text-align: end;
}

.MainPageMainImgWrap > .MainPageTxtWrap h3 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.MainPageMainImgWrap > .MainPageTxtWrap p {
  font-size: 1.5rem;
  margin-right: 0px;
  margin-bottom: 5px;
  font-weight: 300;
}

.MainPageMainImgWrap > .MainPageTxtWrap p:last-child {
  margin-bottom: 0;
  margin-top: 25px;
}

.MainPageMainImgWrap > .MainPageTxtWrap p:last-child a {
  color: black;
  font-weight: 300;
  border-bottom: 2px solid black;
}

/* 테블릿 */
@media (max-width: 991.98px) {
  .MainPageMainImgWrap {
    width: auto;
    height: 724px;
    background-image: url("/img/mainImg_tablet.jpg");
    background-position: center;
    background-size: auto;
  }
  .MainPageMainImgWrap > .MainPageTxtWrap {
    padding-right: 30px;
  }
  .MainPageMainImgWrap > .MainPageTxtWrap h3 {
    margin-top: 50px;
    font-size: 1.8rem;
    width: 480px;
    font-weight: 400;
    margin-right: 60px;
  }
  .MainPageMainImgWrap > .MainPageTxtWrap h3 span {
    font-size: 2rem;
  }
  .MainPageMainImgWrap > .MainPageTxtWrap p {
    font-size: 1.25rem;
    margin-right: 60px;
  }
}

@media (max-width: 767.78px) {
  .MainPageMainImgWrap {
    background-color: #C2C2C2;
    background-repeat: no-repeat;
    height: 500px;
    width: auto;
    background-image: url("/img/mainImg_mobile.jpg");
    background-position: bottom;
    background-size: auto;
  }
  .MainPageMainImgWrap > .MainPageTxtWrap {
    -webkit-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
  }
  .MainPageMainImgWrap > .MainPageTxtWrap h3 span {
    font-size: 2.25rem;
  }
}

@media (max-width: 575.8px) {
  .MainPageMainImgWrap > .MainPageTxtWrap {
    -webkit-transform: translate(-50%, -105%);
            transform: translate(-50%, -105%);
    text-align: center;
  }
  .MainPageMainImgWrap > .MainPageTxtWrap h3 {
    width: 310px;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .MainPageMainImgWrap > .MainPageTxtWrap h3 span {
    font-size: 1.25rem;
  }
  .MainPageMainImgWrap > .MainPageTxtWrap p {
    font-size: 0.9rem;
    margin-right: 0px;
  }
  .MainPageMainImgWrap > .MainPageTxtWrap p:last-child a {
    margin-right: -200px;
  }
}

#AboutMeWrap {
  background-color: transparent;
  max-width: 1140px !important;
}

#AboutMeWrap #AboutMeTitleBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

#AboutMeWrap #AboutMeTitleBox div {
  width: 20px;
  height: 40px;
  background-color: #0D6EFD;
}

#AboutMeWrap #AboutMeTitleBox h3 {
  font-size: 2.5rem;
  margin-left: 10px;
}

#AboutMeWrap #AboutMeLeftDiv > div .profileImgBox {
  border-radius: 5px;
  background-image: url("/img/AboutMe/myPicture.jpg");
  background-position: top;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#AboutMeWrap bak
#AboutMeRightDiv.aos-animate .AboutMeSkillgraphBox .graph span.stack95 {
  width: 95%;
  -webkit-animation: stack95 2s 1;
          animation: stack95 2s 1;
}

#AboutMeWrap bak
#AboutMeRightDiv.aos-animate .AboutMeSkillgraphBox .graph span.stack90 {
  width: 90%;
  -webkit-animation: stack90 2s 1;
          animation: stack90 2s 1;
}

#AboutMeWrap bak
#AboutMeRightDiv.aos-animate .AboutMeSkillgraphBox .graph span.stack85 {
  width: 85%;
  -webkit-animation: stack85 2s 1;
          animation: stack85 2s 1;
}

#AboutMeWrap bak
#AboutMeRightDiv.aos-animate .AboutMeSkillgraphBox .graph span.stack80 {
  width: 80%;
  -webkit-animation: stack80 2s 1;
          animation: stack80 2s 1;
}

#AboutMeWrap bak
#AboutMeRightDiv.aos-animate .AboutMeSkillgraphBox .graph span.stack75 {
  width: 75%;
  -webkit-animation: stack75 2s 1;
          animation: stack75 2s 1;
}

#AboutMeWrap bak
#AboutMeRightDiv.aos-animate .AboutMeSkillgraphBox .graph span.stack70 {
  width: 70%;
  -webkit-animation: stack70 2s 1;
          animation: stack70 2s 1;
}

#AboutMeWrap bak
#AboutMeRightDiv.aos-animate .AboutMeSkillgraphBox .graph span.stack65 {
  width: 65%;
  -webkit-animation: stack65 2s 1;
          animation: stack65 2s 1;
}

#AboutMeWrap bak
#AboutMeRightDiv.aos-animate .AboutMeSkillgraphBox .graph span.stack60 {
  width: 60%;
  -webkit-animation: stack60 2s 1;
          animation: stack60 2s 1;
}

#AboutMeWrap bak
#AboutMeRightDiv.aos-animate .AboutMeSkillgraphBox .graph span.stack55 {
  width: 55%;
  -webkit-animation: stack55 2s 1;
          animation: stack55 2s 1;
}

#AboutMeWrap bak
#AboutMeRightDiv.aos-animate .AboutMeSkillgraphBox .graph span.stack50 {
  width: 55%;
  -webkit-animation: stack50 2s 1;
          animation: stack50 2s 1;
}

#AboutMeWrap #AboutMeRightDiv > p {
  font-size: 1.5rem;
  text-align: center;
}

#AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl {
  padding-left: revert;
}

#AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl li {
  height: 40px;
  margin-bottom: 30px;
}

#AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl li .AboutMeIconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl li .AboutMeIconBox .AboutMeIcon {
  height: 40px;
  margin-bottom: 20px;
  margin-right: 0;
  display: block;
}

#AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl li .AboutMeSkillgraphBox {
  height: 40px;
  padding-left: 10px;
}

#AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl li .AboutMeSkillgraphBox p {
  height: 30px;
  margin-bottom: 0;
}

#AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl li .AboutMeSkillgraphBox .graph {
  width: 100%;
  margin-bottom: 5px;
  height: 5px;
  background-color: #ccc;
}

#AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl li .AboutMeSkillgraphBox .graph span {
  height: 100%;
  background-color: black;
  display: block;
}

#AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl li .graphTxtDiv {
  font-size: 1.3rem;
  font-family: 'GmarketSansMedium';
  font-weight: 600;
  padding-left: 10px;
  padding-top: 10px;
  -webkit-animation: show 2s 1;
          animation: show 2s 1;
}

.graphTxtDiv span {
  margin-left: 0.25rem;
  font-size: 0.75rem;
}

@-webkit-keyframes show {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  80% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: black;
  }
}

@keyframes show {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  80% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: black;
  }
}

@-webkit-keyframes stack50 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 55%;
    color: black;
  }
}

@keyframes stack50 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 55%;
    color: black;
  }
}

@-webkit-keyframes stack55 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 55%;
    color: black;
  }
}

@keyframes stack55 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 55%;
    color: black;
  }
}

@-webkit-keyframes stack60 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 60%;
    color: black;
  }
}

@keyframes stack60 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 60%;
    color: black;
  }
}

@-webkit-keyframes stack65 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 65%;
    color: black;
  }
}

@keyframes stack65 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 65%;
    color: black;
  }
}

@-webkit-keyframes stack70 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 70%;
    color: black;
  }
}

@keyframes stack70 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 70%;
    color: black;
  }
}

@-webkit-keyframes stack75 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 75%;
    color: black;
  }
}

@keyframes stack75 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 75%;
    color: black;
  }
}

@-webkit-keyframes stack80 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 80%;
    color: black;
  }
}

@keyframes stack80 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 80%;
    color: black;
  }
}

@-webkit-keyframes stack85 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 85%;
    color: black;
  }
}

@keyframes stack85 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 85%;
    color: black;
  }
}

@-webkit-keyframes stack90 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 90%;
    color: black;
  }
}

@keyframes stack90 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 90%;
    color: black;
  }
}

@-webkit-keyframes stack95 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 95%;
    color: black;
  }
}

@keyframes stack95 {
  0% {
    width: 0;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 95%;
    color: black;
  }
}

@media (max-width: 767.78px) {
  #AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl li .AboutMeIconBox .AboutMeIcon {
    margin-bottom: unset;
    height: 30px;
  }
}

@media (max-width: 575.8px) {
  #AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl {
    padding-left: 0px;
  }
  #AboutMeWrap #AboutMeRightDiv #AboutMeSkillUl li .AboutMeIconBox {
    display: none;
  }
}

#PorfolioTitleBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

#PorfolioTitleBox div {
  width: 20px;
  height: 40px;
  background-color: #0D6EFD;
}

#PorfolioTitleBox h3 {
  font-size: 2.5rem;
  margin-left: 10px;
}

#PreInterviewTitleBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

#PreInterviewTitleBox div {
  width: 20px;
  height: 40px;
  background-color: #0D6EFD;
}

#PreInterviewTitleBox h3 {
  font-size: 2.5rem;
  margin-left: 10px;
}

#QuickMenuWrap {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 25px;
}

#QuickMenuWrap > button {
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--var-color1);
  border: white;
}

#QuickMenuWrap > button .quickbutton {
  width: 50%;
  height: 50%;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#QuickMenuWrap ul {
  z-index: 990;
}

#QuickMenuWrap ul li {
  -webkit-transition: 1s;
  transition: 1s;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: -58px;
  visibility: hidden;
}

#QuickMenuWrap ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

#QuickMenuWrap ul li a img {
  display: block;
  width: 100%;
  height: 100%;
}

#QuickMenuWrap ul li:nth-child(1) {
  z-index: 999;
}

#QuickMenuWrap ul li:nth-child(2) {
  z-index: 998;
}

#QuickMenuWrap ul li:nth-child(3) {
  z-index: 997;
}

#QuickMenuWrap ul li:nth-child(4) {
  z-index: 996;
}

#QuickMenuWrap.show > button .quickbutton {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#QuickMenuWrap.show ul li {
  visibility: visible;
}

#QuickMenuWrap.show ul li:nth-child(1) {
  z-index: 999;
  bottom: 0px;
}

#QuickMenuWrap.show ul li:nth-child(2) {
  bottom: 58px;
  z-index: 998;
}

#QuickMenuWrap.show ul li:nth-child(3) {
  bottom: calc(58px*2);
  z-index: 997;
}

#QuickMenuWrap.show ul li:nth-child(4) {
  bottom: calc(58px*3);
  z-index: 996;
}

@-webkit-keyframes quickAni1 {
  0% {
    opacity: 0;
    bottom: -58px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes quickAni1 {
  0% {
    opacity: 0;
    bottom: -58px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@-webkit-keyframes quickAni2 {
  0% {
    opacity: 0;
    bottom: 0;
  }
  100% {
    opacity: 1;
    bottom: calc(58px*1);
  }
}

@keyframes quickAni2 {
  0% {
    opacity: 0;
    bottom: 0;
  }
  100% {
    opacity: 1;
    bottom: calc(58px*1);
  }
}

@-webkit-keyframes quickAni3 {
  0% {
    opacity: 0;
    bottom: 0;
  }
  100% {
    opacity: 1;
    bottom: calc(58px*2);
  }
}

@keyframes quickAni3 {
  0% {
    opacity: 0;
    bottom: 0;
  }
  100% {
    opacity: 1;
    bottom: calc(58px*2);
  }
}

@-webkit-keyframes quickAni4 {
  0% {
    opacity: 0;
    bottom: 0;
  }
  100% {
    opacity: 1;
    bottom: calc(58px*3);
  }
}

@keyframes quickAni4 {
  0% {
    opacity: 0;
    bottom: 0;
  }
  100% {
    opacity: 1;
    bottom: calc(58px*3);
  }
}

.FooterWrap {
  height: 5rem;
  background-color: white;
}

.FooterWrap .FooterCopyright {
  font-family: var(--var-gmarket);
  color: var(--var-color1);
  text-align: center;
}
