@charset "UTF-8";
/* Noto-sans 글꼴  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; 로 적용 font-weight 100, 300, 400, 500 ,700, 900 사용 가능*/
/* 나눔 스퀘어 글꼴 */
@font-face {
  font-family: 'NanumSquare';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareLight';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareExtraBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.ttf) format("truetype");
}

/* 여기어때 잘난체 */
@font-face {
  font-family: 'yg-jalnan';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// G마켓 산스
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


// 기기별 media query 
// @media (max-width:991.98px){}
// @media (max-width:767.78px){}
// @media (max-width:575.8px){}

// common class 
:root{
  --var-color1:#0D6EFD;
  --var-color2:#E5E5E5;
  --var-color3:#C4C4C4;
  --var-color4:#6C757D;
  --var-color5:#000000;
  --var-white:#FFFFFF;
  --var-black:#000000;
}

html{
  font-size: 16px;
}


.bg-black{background-color: black;}
.bg-color2{background-color: var(--var-color2);}

// section 구획
.khysection1{width: auto; padding-top: 12rem; padding-bottom:12rem;}

.gmarket{  font-family: 'GmarketSansMedium';}

.white{color: white;}
.primary{color: #0D6EFD;}

.m-auto{margin: 0 auto;}

.w-95{width: 95%;}
.w-90{width: 90%;}
.w-85{width: 85%;}
.w-80{width: 80%;}
.w-75{width: 75%;}
.w-70{width: 70%;}
.w-65{width: 65%;}
.w-60{width: 60%;}
.w-55{width: 55%;}



*{
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none !important;
}

// Navi Component
#NaviNavbarToggler{
  color: rgba(255,255,255,0) !important;
}
#NaviNavbarToggler:focus{
  box-shadow: none !important;
}
.navbar-toggler{ border: none !important;
  .navbar-toggler-icon{
    background-image: 
    url("/img/icon/m_menu.png") !important;}
}
.navbar-toggler:hover {
  border: none, !important;;
}

.navLogo{ font-size: 2.5rem !important;
          font-weight: 900;}
#NaviNavbar{ padding-top: 0; padding-bottom: 0; transition: 1s;}
.NaviNavUp{top:-70px !important;} // Scrooll down 시 Navi 사라지게 함
#NaviCollapse{ 
  flex: unset;
}

#NaviNav{
  li{
    font-size: 1.25rem;
  }
}
.NaviNavLink{ color: white !important}
.NaviNavLink:hover {
  color: #0D6EFD !important;
}

/* 테블릿 */
@media (max-width:991.98px){

}

/* 스마트폰 */
@media (max-width:767.78px){
  #NaviCollapse{
    flex-basis: 100% !important;
    flex-grow: 1 !important;
    .NaviNavLink{
      font-size: 0.9rem;
    }
  }
}


// MainPage Component
.MainPageMainImgWrap{
  margin-top: 70px;
  width: auto;
  height: 912px;
  background-image: url('/img/mainimg1920x912.jpg');
  background-position: center;
  background-size: auto;

}
.MainPageMainImgWrap>.MainPageTxtWrap{
  top: 50%;
  left: 50%;
  transform: translate(-80%,-80%);
  text-align: end;
  h3{font-size: 3rem; font-weight: 300; margin-bottom: 30px;}
  p{font-size: 1.5rem; margin-right: 0px; margin-bottom: 5px; font-weight: 300;}
  p:last-child{margin-bottom: 0; margin-top: 25px;
    a{color: black; font-weight: 300; border-bottom: 2px solid black;}
  }
}

/* 테블릿 */
@media (max-width:991.98px) {
  .MainPageMainImgWrap{
    width: auto;
    height: 724px;
    background-image: url('/img/mainImg_tablet.jpg');
    background-position: center;
    background-size: auto;
  }

  .MainPageMainImgWrap>.MainPageTxtWrap{
    padding-right: 30px;
    h3{margin-top :50px;
      font-size:1.8rem;
      width:480px;
      font-weight: 400;
      margin-right: 60px;
      span{font-size: 2rem;}}
    p{font-size: 1.25rem;
      margin-right:60px;}

  }
}

// Mobile 가로
@media (max-width:767.78px) {
.MainPageMainImgWrap{
  background-color: #C2C2C2;
  background-repeat: no-repeat;
  height: 500px;
  width: auto;
  background-image: url('/img/mainImg_mobile.jpg');
  background-position: bottom;
  background-size: auto
  }
.MainPageMainImgWrap>.MainPageTxtWrap{
  transform:translate( -50%, -95% ); 
  h3{
    span{
      font-size: 2.25rem;
    }
  }
}

}

// Mobile 세로 
@media (max-width:575.8px) {
  .MainPageMainImgWrap>.MainPageTxtWrap{
    transform:translate( -50%, -105% ); 
    text-align: center ;
    h3{
      width: 310px;
      font-size:1rem;
      margin-bottom: 10px;
      margin-right: 0;
      span{
        font-size: 1.25rem;
      }
    }
    p{font-size: 0.9rem;
      margin-right:0px;

    }
    p:last-child{
      a{margin-right: -200px;
      }
    }
  }
  }



///////////////// AboutMe Component
#AboutMeWrap{background-color: transparent;
  #AboutMeTitleBox{
    align-items: center;
    justify-content: center;
    div{width:20px; height: 40px; background-color:#0D6EFD;}
    h3{font-size: 2.5rem; margin-left: 10px;}
    margin-bottom:5rem ;
  }
  
  #AboutMeLeftDiv{
    ul:first-child{
      img{
        height:100px;top:0%; left:50%; transform:translate(0%,0%) ;}
    }
    div:first-child{
      p{font-size: 1.5rem;}
      ul{padding-left: 15px;}
    }
    div:last-child{
      p{font-size: 1.5rem;}
      ul{padding-left: 15px;}
    }
  }

  #AboutMeRightDiv.aos-animate{
    .AboutMeSkillgraphBox{
      .graph{
        span.stack95{width: 95%; animation: stack95 2s 1; }
        span.stack90{width: 90%; animation: stack90 2s 1; }
        span.stack85{width: 85%; animation: stack85 2s 1; }
        span.stack80{width: 80%; animation: stack80 2s 1; }
        span.stack75{width: 75%; animation: stack75 2s 1; }
        span.stack70{width: 70%; animation: stack70 2s 1; }
        span.stack65{width: 65%; animation: stack65 2s 1; }
        span.stack60{width: 60%; animation: stack60 2s 1; }
        span.stack55{width: 55%; animation: stack55 2s 1; }
        span.stack50{width: 55%; animation: stack50 2s 1; }
      }
    }
  }

  #AboutMeRightDiv{
    >p{font-size: 1.5rem; text-align: center;}
    #AboutMeSkillUl{
      padding-left: revert;
      li{
        height: 40px;
        margin-bottom: 30px;
        .AboutMeIconBox{

          display: flex;
          justify-content: end;
          .AboutMeIcon{height: 40px; margin-bottom: 20px; margin-right: 0; display: block;}
        }
      
        
        .AboutMeSkillgraphBox{height: 40px; padding-left: 10px;
          p{height: 30px; margin-bottom: 0;}
          .graph{width: 100%;  margin-bottom:5px; height:5px; background-color: #ccc;
            span{ height: 100%; background-color: black; display: block; 
            }

          }
        }
        .graphTxtDiv{
          font-size: 1.4rem;
          padding-left: 10px;
          padding-top: 10px;
          animation: show 2s 1;
        }
      }
    }
  }
}
.graphTxtDiv{
  span{
    margin-left: 0.25rem;
    font-size: 0.75rem;
  }
}

// graphTxt show 
@keyframes show {
  0%{color: rgba(0,0,0,0);}
  80%{color: rgba(0,0,0,0);}
  100%{color: rgba(0,0,0,1);}
}
// skillgraph stack
@keyframes stack50 {
  0% {width: 0; color: rgba(0,0,0,0);}
  100% {width: 55%; color: rgba(0,0,0,1);}
}
@keyframes stack55 {
  0% {width: 0; color: rgba(0,0,0,0);}
  100% {width: 55%; color: rgba(0,0,0,1);}
}
@keyframes stack60 {
  0% {width: 0; color: rgba(0,0,0,0);}
  100% {width: 60%; color: rgba(0,0,0,1);}
}
@keyframes stack65 {
  0% {width: 0; color: rgba(0,0,0,0);}
  100% {width: 65%; color: rgba(0,0,0,1);}
}
@keyframes stack70 {
  0% {width: 0; color: rgba(0,0,0,0);}
  100% {width: 70%; color: rgba(0,0,0,1);}
}
@keyframes stack75 {
  0% {width: 0; color: rgba(0,0,0,0);}
  100% {width: 75%; color: rgba(0,0,0,1);}
}
@keyframes stack80 {
  0% {width: 0; color: rgba(0,0,0,0);}
  100% {width: 80%; color: rgba(0,0,0,1);}
}
@keyframes stack85 {
  0% {width: 0; color: rgba(0,0,0,0);}
  100% {width: 85%; color: rgba(0,0,0,1);}
}
@keyframes stack90 {
  0% {width: 0; color: rgba(0,0,0,0);}
  100% {width: 90%; color: rgba(0,0,0,1);}
}
@keyframes stack95 {
  0% {width: 0; color: rgba(0,0,0,0);}
  100% {width: 95%; color: rgba(0,0,0,1);}
}

// @media (max-width:991.98px){}
@media (max-width:767.78px){
  #AboutMeWrap{
    #AboutMeRightDiv{

      #AboutMeSkillUl{
        li{
  
          .AboutMeIconBox{
            .AboutMeIcon{
              margin-bottom: unset;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
@media (max-width:575.8px){
  #AboutMeWrap{
    #AboutMeRightDiv{

      #AboutMeSkillUl{
        padding-left: 0px;
        li{

          .AboutMeIconBox{
            display: none;
          }
        }
      }
    }
  }
}

// @Porfolio.js Component
// #PorfolioTitleBox{

// }
#PorfolioTitleBox{
  align-items: center;
  justify-content: center;
  div{width:20px; height: 40px; background-color:#0D6EFD;}
  h3{font-size: 2.5rem; margin-left: 10px;}
  margin-bottom:5rem ;
}


// Footer Component 
.FooterWrap{height: 8rem; background-color: black;
    
  .FooterCopyright{
    color: white;
    text-align: center
  }
}
#FooterIconBox{
  width: 320px;
  >a{display: block;
    .FooterIcon{
      height: 2.5rem;
    }
  }
  
 
}