

@font-face {
  font-family: 'NanumSquare';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareLight';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareExtraBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareAcR';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acR.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareAcL';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acL.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acL.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acL.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareAcEB';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acEB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acEB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acEB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareAcB';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquare_acB.ttf) format("truetype");
}

*{
  padding: 0;
  list-style: none;
  font-family: 'NanumSquare';
  text-decoration: none !important;
  color:black;
}
.logoBox{
  height: 100%;
  width: 150px;
}

.logo{
  height: 80px;
  width: 150px;
  transition: 1s;
}
.logo:hover{
  transform: scale(1.3);
}

.toggler{
  font-size: 2rem !important;
  transition: 1s;
  background-color: transparent;
  border: none;
}
.toggler:hover{
  border-radius: none;
  transform: scale(1.3);
}


.togglerIcon:hover{
  transform: scale(1.3);
}
// .tolgglerIcon{
  
// }

.mIntro{
  height: 300px;
  width: 100%;
  background-color: beige;
  padding-top:5rem;
  text-align: center;
}

#naviContainer{
  height: 6rem !important;
  padding: 1rem;
  line-height: 4rem;
}

.hrLine{
  width: 200px;
  height: 3px !important;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 2px;
}

.aboutMeSection{
  width: 100%;
  height: 100%;
  background-color:aquamarine;
}

.navListUl{
  padding-left: 1rem;
  padding-right: 1rem;
}

// #naviBox{
//   display: table !important;
// }

// #navListUl{
//   display: table-cell;
//   vertical-align: middle;
// }
.navList{
  margin-left: 1rem;
}
.navListA{
  color: black;
  font-family: 'NanumSquareExtraBold' !important;
  font-size: 1.3rem;   
  transition: 1s;
}
.navListA:hover{
  font-size: 1.5rem;
  color: brown;
}
@media (max-width:768px){
  #naviBox{
    display: none;
  }
  .toggler{
    display: block;
  }
}
@media (min-width:768px){

  .toggler{
    display: none;
  }
}
// .container{
//   display: flex;
//   justify-content: space-between;
//   height: 100px;
//   padding:1rem;
// }
// .gnb{
//   display: flex;
//   list-style: none;
// }
// // a{display: block;}
// // img{display: block;}

// .naviMenu{
//   align-items: middle;
// }
// .logoImg{
// height: 100%;
// }
// .test {
//   font-size: 50px;
// }